
body {
    background-color: #293251;
    width: 100%;
}


.btn {
    display: block;
    margin: 20px auto;
    background-color: rgb(0, 211, 0);
    border: 0;
    border-bottom: 3px solid green;
    width: 200px;
}

h1, .lead {
    text-align: center;
}

#searchbar {
    display: block;
    margin: 20px auto;
    height: 40px;
    width: 50%;
}

.jumbotron {

  width: 100%;
  z-index: 1;
  color: white;
  text-align: center;
  line-height: 30px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  background-image: url("https://i.pinimg.com/originals/c2/a1/2a/c2a12a9aed2a098dcfea3519b6f57977.png");
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.my-4 {
    background-color: white;
    opacity: 0.3;
}

.card-forecast {
    width: 18rem;
    margin: 1%;
    float: left;
}

.container{
    width: 300px;    
    background-color: #FFF;
    
    display: block;
    margin: 0 auto;
    
    border-radius: 10px;
    padding-bottom : 50px;
}

.card-title{
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.card-title p{
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #293251;
}

.notification{
    background-color: #f8d7da;
    display: none;
}

.notification p{
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container{
    height: 260px;
    background-color: #F4F9FF;
}

.weather-icon{
    width: 300px;
    height: 128px;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
}

.temperature-value{
    width: 300px;
    height:60px;
}

.temperature-value p{
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}

.temperature-value p:hover{
    
}

.temperature-value span{
    color: #293251;
    font-size: 0.5em;
}

.temperature-description{
    
}

.temperature-description p{
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.2em;
}

.location{
    
}

.location p{
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 0.8em;
}